.footer {
    width: 100vw;
    height: 20vh;
    background-color: #125234;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }